<!-- header starts here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
  <a id="header" class="navbar-brand bg-warning offset-lg-1" [routerLink]="['/home']">
    <span style="color:#123363;">
      <b>Game</b>&nbsp;</span>Of
    <span style="color:#C81900;">
      <b>Thrones</b>
    </span>
  </a>
</nav>
<!-- header ends here -->
<!-- cover image starts here -->
<div class="container-full">
  <img class="img-responsive" src="../assets/images/cover.jpg" style="width:100%; height:auto;">
</div>
<!-- cover image ends here -->
<br>
<br>
<router-outlet></router-outlet>